# GitHub Action to run Verible linting on pull requests
# See https://github.com/chipsalliance/verible-linter-action

name: verible-lint HPDcache source code
on:
  pull_request:
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run Verible linter
        uses: chipsalliance/verible-linter-action@v2.0
        with:
          config_file: ./rtl/lint/verible_rules.cfg
          paths: |
            ./rtl/include
            ./rtl/src
          extensions: |
            .sv
            .svh
          github_token: ${{ secrets.GITHUB_TOKEN }}
          reviewdog_reporter: 'github-pr-check'
          verible_version: "v0.0-3661-gf915e223"
          suggest_fixes: 'false'
          extra_args: |
            "--waiver_files=rtl/lint/verible.waiver"
            "--check-syntax=true"
